<td><%= model.user.id %></td>
<td>
  <%= link_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.destroy.confirm') }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'trash' %>
  <% end %>
</td>
