<div class="bg-gray-100 py-2 px-6 rounded-lg flex flex-col items-center w-96">
  <%= image_tag 'success.png', class: 'aspect-square', style: 'width: 92px' %>
  <h1 class="text-xl font-bold">重置成功</h1>
  <p class="text-xs text-gray-500">请牢记新密码，3S后自动跳转至网站首页</p>
  <%= link_to '前往登录页', '/login', class: 'button rounded-lg mt-6' %>
</div>