<div class="buttons background-white px-3 as-bottom">
  <%= link_to t('auth.users.new.title'), { controller: 'users', action: 'new' }, class: 'button' %>
  <%= link_to t('auth.sessions.token_new.title'), { action: 'token_new' }, class: 'button' %>
  <%= link_to t('auth.passwords.new.title'), { controller: 'auth/passwords', action: 'new' }, class: 'button' %>
</div>
