<%= render layout: 'layouts/phone_head' do %>
  <main class="has-animate-background">
    <%= render 'alert' %>
    <div class="has-page-centered px-3">
      <%= yield %>
    </div>
  </main>
  <%= render 'tab_bar_footer' %>
<% end %>
